# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
data={}
type(data)

dict

In [2]:
data1=dict()
type(data1)

dict

In [3]:
data={"Alabama":"Montgomery",
     "Arizona":"Pheonix",
     "Georgia":"Atlanta",
     "Kentucky":"Frankfort",
     "Ohio":"Salem"}
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [4]:
### access dictionary values by its key name
data['Alabama']

'Montgomery'

In [5]:
data['Ohio']

'Salem'

In [6]:
## not present
#data["Louisiana"]

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [7]:
days={1:'Monday',
      2:'Tuesday',
      4:('Thursday','Friday'),
      5:['Saturday','Holiday']
}

In [8]:
days

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Holiday']}

In [9]:
days[4][0]

'Thursday'

In [10]:
days[5][1]

'Holiday'

In [11]:
days[2]

'Tuesday'

### Update elements of a dictionary and add new elements

In [12]:
days

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Holiday']}

In [13]:
days[5][0]="Holiday"

In [14]:
days

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday']}

In [15]:
days[1]="Holiday"

In [16]:
days

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday']}

In [17]:
days[3]="Wednesday"
print(days)

{1: 'Holiday', 2: 'Tuesday', 4: ('Thursday', 'Friday'), 5: ['Holiday', 'Holiday'], 3: 'Wednesday'}

In [18]:
days[6]=["XYZ","ABC"]
print(days)

{1: 'Holiday', 2: 'Tuesday', 4: ('Thursday', 'Friday'), 5: ['Holiday', 'Holiday'], 3: 'Wednesday', 6: ['XYZ', 'ABC']}

### `get` and `update` methods

In [19]:
dir({})

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [20]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [21]:
## access an element using .get method
data.get('Alabama')

'Montgomery'

In [22]:
data.get("Ohio")

'Salem'

In [23]:
print(data.get("Louisiana"))

None

In [24]:
## update a dictionary element
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [25]:
data.update({"Kentucky":"Louisville", "Louisiana":"Baton Rouge"})
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge'}

In [26]:
## we cannot change dictionary keys, just dictionary values

### Delete dictionary items using `del` and `pop`

In [27]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge'}

In [28]:
del data["Alabama"]
print(data)

{'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge'}

In [29]:
del data["Ohio"]
print(data)

{'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge'}

In [30]:
data.pop("Arizona")
print(data)

{'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge'}

In [31]:
data.pop("Kentucky")
print(data)

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [32]:
data

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

In [33]:
len(data)

2

In [34]:
data.keys() ### gives the keys from the dictionary

dict_keys(['Georgia', 'Louisiana'])

In [35]:
data.values() ###gives only values from dictionary

dict_values(['Atlanta', 'Baton Rouge'])

In [36]:
data.items() ##returns the key value pairs from the dictionary

dict_items([('Georgia', 'Atlanta'), ('Louisiana', 'Baton Rouge')])

### Loop through a dictionary

In [37]:
data

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

In [38]:
for key in data.keys():
    print(key)
    print(type(key))

Georgia
<class 'str'>
Louisiana
<class 'str'>

In [39]:
for value in data.values():
    print(value)
    print(type(value))

Atlanta
<class 'str'>
Baton Rouge
<class 'str'>

In [40]:
for item in data.items():
    print(item)
    print(type(item))

('Georgia', 'Atlanta')
<class 'tuple'>
('Louisiana', 'Baton Rouge')
<class 'tuple'>

In [41]:
for state, capital in data.items():
    print(type(state), type(capital))
    print(state, capital)
    print("State name:", state)
    print("Capital name:", capital)

<class 'str'> <class 'str'>
Georgia Atlanta
State name: Georgia
Capital name: Atlanta
<class 'str'> <class 'str'>
Louisiana Baton Rouge
State name: Louisiana
Capital name: Baton Rouge

### Convert dictionary to lists using `list()` function

In [42]:
data

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

In [43]:
state=list(data.keys())
print(state)
print(type(state))

['Georgia', 'Louisiana']
<class 'list'>

In [44]:
capital=list(data.values())
print(capital)
print(type(capital))

['Atlanta', 'Baton Rouge']
<class 'list'>

### A List in a Dictionary

In [45]:
fav_lang={"Jen":["Python", "Ruby"],
         "Sarah":["C"],
         "Edward":["Ruby","Java"],
         "Phil":["Python","Haskell"]}
print(fav_lang)

{'Jen': ['Python', 'Ruby'], 'Sarah': ['C'], 'Edward': ['Ruby', 'Java'], 'Phil': ['Python', 'Haskell']}

In [46]:
print("Sarah likes the coding language", fav_lang["Sarah"][0])

Sarah likes the coding language C

In [52]:
for name, lang in fav_lang.items():
    print("\n", name.upper(), "favorite languages are: ")
    for i in lang:
        print("\t\t\t", i.upper())

 JEN favorite languages are:
			 PYTHON
			 RUBY

 SARAH favorite languages are:
			 C

 EDWARD favorite languages are:
			 RUBY
			 JAVA

 PHIL favorite languages are:
			 PYTHON
			 HASKELL

###  A Dictionary in a Dictionary

In [1]:
users={
    'einstein':{
        'first':'albert',
        'last':'einstein',
        'location':'princeton'
    },
    'mcurie':{
        'first':'marie',
        'last':'curie',
        'location':'paris'
    }
}
print(users)

{'einstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'}, 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [4]:
for username, user_info in users.items():
    print("Username", username)
    ### print("UserInfo", user_info)
    full_name=user_info["first"] +" "+ user_info["last"]
    location=user_info['location']
    print("\t Full name: ", full_name)
    print("\t Location: ", location)

Username einstein
	 Full name:  albert einstein
	 Location:  princeton
Username mcurie
	 Full name:  marie curie
	 Location:  paris