### 1.  What is the data type of print(type(10))
* float
* integer
* int

In [9]:
## int

In [10]:
print(type(10))

<class 'int'>

### 2. What is the result of print(type([]) is list)
* False
* True

In [8]:
## true

In [7]:
print(type([]) is list)

True

### 3. str1 = "PYTHON150"
print(str1[1:4], str1[:5])
* PYTH,  PYTHON
* PYTH, PYTHO
* YTH, PYTHO
* Note: Commas only used for display

In [12]:
# YTH PYTHO

In [13]:
str1="PYTHON150"
print(str1[1:4], str1[:5])

YTH PYTHO

### 4. str1 = "PYTHON150"
print(str1[4:], str1[0:-1])
* N150, PYTHON150
* ON150, PYTHON15
* ON150, PYTHON150
* Note: Commas only used for display

In [16]:
# ON150, PYTHON15

In [17]:
print(str1[4:], str1[0:-1])

ON150 PYTHON15

### 5. str1 = "PYTHON150"
print(str1[:-1])
* PYTHON150
* PYTHON15
* PYTHON1
* Note: Commas only used for display

In [18]:
# PYTHON15

In [19]:
print(str1[:-1])

PYTHON15

### 6.  print("John" > "Jhon")
### print("Emma" < "Emm")
* True True
* True False
* False TRue
* False False

In [21]:
#True, False

In [22]:
print("John">"Jhon")
print("Emma"<"Emm")

True
False

### 7. Strings are immutable in Python, which means a string cannot be modified.
* True
* False

In [23]:
#True

### 8. str1 = 'Welcome'
print (str1[:6] + 'Class')
* WelcomClass
* WelcomeClass
* Welcom Class
* Welcome Class

In [24]:
# WelcomClass

In [26]:
str1="Welcome"
print(str1[:6]+"Class")

WelcomClass

### 9. str = "how are you all doing"
print (str.capitalize())
* How are you all doing
* How Are You All Doing

In [29]:
# How are you all doing

In [30]:
str='how are you all doing'
print(str.capitalize())

How are you all doing

### 10. str = "how are you all doing"
print (str.title())
* How are you all doing
* How Are You All Doing

In [31]:
# How Are You All Doing

In [32]:
print(str.title())

How Are You All Doing

### 11. str1 = 'Welcome'
print(str1*2)
* Welcome Welcome
* WelcomeWelcome
* TypeError unsupported operand type(s)

In [37]:
#WelcomeWelcome

In [38]:
str1="Welcome"
print(str1*2)

WelcomeWelcome

### 12. Random integer between 99 to 200, which is divisible by 3, print the value of a,b,c
* random.randrange(a, b, c)

In [40]:
import random
random.randrange(99,200,3)

162

In [41]:
# 162

### 13. What is the output of print(2 ** 3 ** 2)
* 64
* 512

In [44]:
#512

In [45]:
print(2**3**2)

512

### 14. print(2%6)
* ValueError
* 0.33
* 2

In [47]:
#2

In [48]:
print(2%6)

2

### 15. What is the output of print(10 - 4 * 2)
* 2
* 12

In [50]:
#2

In [51]:
print(10-4*2)

2

### 16. for i in "STR":
     print(i)
* STR
* S
- T
- R

In [53]:
# S, T, R

In [54]:
for i in "STR":
    print(i)

S
T
R

### 17. a="Learn"
### while(a):
    print(a)
* Infinite Loop
* L
* e
* a
* r
* n

In [ ]:
#infinite loop printing "Learn"