## Practice Questions Dictionary and List

### List reverse

In [1]:
Lista=[34,67,45,23,12,43]

Lista[::-1]

[43, 12, 23, 45, 67, 34]

### Convert the lists to dictionary
* keys = ['Ten', 'Twenty', 'Thirty']
* values = [10, 20, 30]

In [3]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
list(zip(keys,values))

[('Ten', 10), ('Twenty', 20), ('Thirty', 30)]

In [4]:
dict(zip(keys,values))

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

### Marge the following two dictionaries and keep the original dictionaries as it is
* dict0 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
* dict1 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [5]:
dict0 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict1 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [6]:
dict2=dict0.copy()

In [7]:
dict2.update(dict1)

In [8]:
dict2

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [9]:
tuple(dict2)

('Ten', 'Twenty', 'Thirty', 'Fourty', 'Fifty')

### Access 70 from dictionary
 * Dict3 = { "class":{ "student":{ "subject":{ "physics":70,"history":80}}}}

In [11]:
Dict3 = { "class":{ "student":{ "subject":{ "physics":70,"history":80}}}}
Dict3['class']["student"]["subject"]["physics"]

70

 Dict4 = {
  "name": "Mark",
  "age":21,
  "College": "Junior",
  "city": "Atlanta"}
 * Extract keys = ["name", "city"]
 * Expecte output: {'name': 'Mark', 'city': 'Atlanta'}

In [12]:
Dict4 = { "name": "Mark", "age":21, "College": "Junior", "city": "Atlanta"}
keys = ['name','city']
for K in keys:
    print({K:Dict4[K]})

{'name': 'Mark'}
{'city': 'Atlanta'}

### Dict7 = {'a': 100, 'b': 200, 'c': 300}
 * Check if value 200 is present or not

In [14]:
Dict7 = {'a': 100, 'b': 200, 'c': 300}
print(200 in Dict7.values())

True

### check the key 'c' is present in the dict or not

In [15]:
Dict7 = {'a': 100, 'b': 200, 'c': 300}
print("c" in Dict7.keys())

True

###  Update Bradâ€™s salary to 7500 
* sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 5500},
     'emp2': {'name': 'Emma', 'salary': 7000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

In [20]:
sampleDict = { 'emp1': {'name': 'Jhon', 'salary': 5500}, 
              'emp2': {'name': 'Emma', 'salary': 7000}, 
              'emp3': {'name': 'Brad', 'salary': 6500} }

In [21]:
sampleDict['emp3']['salary']=7500
sampleDict

{'emp1': {'name': 'Jhon', 'salary': 5500},
 'emp2': {'name': 'Emma', 'salary': 7000},
 'emp3': {'name': 'Brad', 'salary': 7500}}

### Find who is younger
Dict9 = {
  'Sam': 82,
  'Harry': 65,
  'Jack': 75
}

In [23]:
Dict9 = { 'Sam': 82, 'Harry': 65, 'Jack': 75 }
temp=min(Dict9.values())
print(temp)

65

In [24]:
for key in Dict9.keys():
    if Dict9[key]==temp:
        print(key)

Harry

### Find who is older

In [26]:
temp2=max(Dict9.values())
print(temp2)
for key in Dict9.keys():
    if Dict9[key]==temp2:
        print(key)

82
Sam

### Update **city to location**
 Dict10 = {
  "name": "Mark",
  "age":21,
  "College": "Junior",
  "city": "Atlanta"}

In [27]:
Dict10 = { "name": "Mark", "age":21, "College": "Junior", "city": "Atlanta"}
Dict10["location"]=Dict10.pop("city")
Dict10

{'name': 'Mark', 'age': 21, 'College': 'Junior', 'location': 'Atlanta'}